@model Program.ViewModels.CurrentUserViewModel
@{
    ViewBag.Title = "Account";
}
<div class="profile-container">
    <div class="profile-info">
        <h1>
            Username<br />
            <span>@Model.Username</span>
        </h1>
        <h1>
            Name<br />
            <span>@Model.Name</span>
        </h1>
        <h1>
            Register Date<br />
            <span>@Model.RegisterDate.ToString()</span>
        </h1>
    </div>
    <div class="profile-wallets">
        @{
            if(Model.Currencies.Count == 0)
            {
                <span class="prohibition">Cant buyout</span>
            }
            else
            {
                foreach(var currency in Model.Currencies)
                {
                    <div class="profile-wallets-item">
                        <h1>@currency.Type.ToString()</h1>
                        <span>@currency.Amount.ToString()</span>
                    </div>
                }
            }
        }
    </div>
    <div class="profile-control">
        @if (Context.User.FindFirst("linked_account_id") is not null)
        {
            <div class="profile-control-button">
                Items
                <a asp-action="Items"></a>
            </div>
        }
        else{
            <div class="profile-control-button">
                Link Game Account
                <a asp-action="LinkGameAccount"></a>
            </div>
        }
        <div class="profile-control-button">
            Logout
            <a asp-action="Logout" asp-controller="Login"></a>
        </div>
    </div>
</div>

<style>
    .profile-wallets-item span {
        text-align: center;
        font-size: 16px;
        color: green;
    }
    .profile-wallets-item h1{
        text-align: center;
        font-size: 18px;
    }
    .profile-wallets-item{
        padding: 3px;
        display: flex;
        flex-direction: column;
        min-width: 120px;
        border: 1px solid darkgreen;
        border-radius: 3px;
    }
    .profile-wallets{
        display: flex;
        flex: 1 1 0;
        justify-content: center;
        gap: 10px;
        overflow: auto;
    }
    .profile-container{
        display: flex;
        flex-direction: row-reverse;
        gap: 10px;
        justify-content: space-between;
    }
    .profile-control-button{
        border: 1px solid gray;
        border-radius: 5px;
        padding: 3px 15px;
        font-size: 20px;
        position: relative
    }
    .profile-control-button a{
        position: absolute;
        top: 0; bottom: 0;left: 0;right: 0;
    }
    .profile-control-button:hover{
        background-color:blanchedalmond;
    }
    .profile-control{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .profile-info {
        display: flex;
        gap: 10px;
    }
    .profile-info h1 {
        font-size: 24px;
    }
    .profile-info h1 span {
        font-size: 20px;
        font-weight: normal;
    }
    @@media(max-width: 600px) {
        .profile-container {
            flex-direction: column;
            align-items: flex-start;
        }
        .profile-info h1 {
            font-size: 22px;
        }
       .profile-info h1 span {
            font-size: 18px;
        }
    }
</style>