@model Program.ViewModels.CurrentUserItemsViewModel
@{
    ViewBag.Title = "Items";
}
<ol class="user-items-cont">
    @foreach(var item in Model.Items)
    {
        <li class="user-item" data-id="@item.ItemId">
            <img src="@item.Poster" />
            <div class="item-desc">
                <span class="item-name">
                    @item.ItemName
                </span>
                <span class="item-type">
                    @item.ItemType
                </span>
                @if(item.LotId is not null)
                {
                    <div class="item-lot-view-link" data-id="@item.LotId">
                        View lot
                    </div>
                }
                else
                {
                    <div class="item-lot-create-link">
                        Create lot
                    </div>
                }
            </div>
            <a asp-action="show" asp-controller="item" asp-route-id="@item.ItemId"></a>
        </li>
    }
</ol>
<style>
    .user-items-cont{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .item-desc{
        position:absolute;
        left: 0; right: 0; bottom: 0;
        background: rgba(255, 255, 255, 0.5);
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding: 5px;
    }
    .item-name{
        font-size: 20px;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .item-type {
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .user-item{
        background: gray;
        border: 2px solid goldenrod;
        width: min-content;
        min-width: 200px;
        min-height: 100px;
        position: relative;
        display: flex;
        gap: 100px;
        align-items: flex-start;
    }

        .user-item img {
            max-width: 100%;
        object-fit: contain;
        overflow: hidden;
    }
    .user-item a{
        position: absolute;
        top: 0;bottom: 0;left: 0; right: 0;
    }

    .item-lot-view-link,
    .item-lot-create-link{
        z-index: 1;
        display: inline-block;
        border: 1px solid blue;
        border-radius: 3px;
        padding: 2px 6px;
        background: rgba(255, 255, 255, 0.5);
        align-self: flex-start;
        cursor: zoom-in;
    }
</style>

<script>
    $(function (){
        $('.item-lot-view-link').dblclick(function () {
            window.location.href = `/lot/${$(this).data("id")}`;
        });
        $('.item-lot-create-link').click(function () {
            window.location.href = `/item/${$(this).closest('li').data("id")}/createLot`;
        });
    })
</script>