@model Program.ViewModels.ItemViewModel
@{
    ViewBag.Title = "Item info";
}
<div class="container">
    <div class="item-poster-cont">
        <img src="@Model.Item.Poster">
    </div>
    <div class="item-desc-cont">
        <span class="item-name">@Model.Item.ItemName</span>
        <span class="item-type">@Model.Item.ItemType</span>
        <span class="item-owner-username">@Model.Item.OwnerUsername</span>
        <span class="item-description">@Model.Item.ItemDescription</span>
    </div>
</div>

<style>
    .item-name:before,
    .item-type:before,
    .item-owner-username:before,
    .item-description:before{
        font-weight: bold;
    }
    .item-name:before {
        content: "Name: ";
    }
    .item-type:before {
        content: "Type: ";
    }
    .item-owner-username:before {
        content: "Owner: ";
    }
    .item-description:before {
        content: "Description: ";
    }
    .container{
        display: flex;
        gap: 20px;
        height: min-content;
    }
    .item-desc-cont{
        flex: 1 1 0;
        gap: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .item-desc-cont span{
        font-size: 20px;
    }
    .item-poster-cont {
        flex: 2 1 0;
        min-width: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .item-poster-cont img{
        object-fit: contain;
        margin: 20px;
    }
</style>